# This prevents pnpm publish from running if you aren't on the specified
# branch, which can save you some headaches.
publish-branch=main

# This option tells pnpm to only resolve local deps to the local files when
# the `workspace:` protocol is used, and to otherwise download published versions.
link-workspace-packages=false

# This option will cause pnpm to fail if its version doesn't exactly match the
# version specified in the `packageManager` field of package.json.
package-manager-strict-version=true

# This option will cause pnpm to automatically download and run the version of
# pnpm specified in the `packageManager` field of package.json. This is the same
# field used by Corepack.
manage-package-manager-versions=true
