# This prevents pnpm publish from running if you aren't on the specified
# branch, which can save you some headaches.
publish-branch=main

# This option tells pnpm to only resolve local deps to the local files when
# the `workspace:` protocol is used, and to otherwise download published versions.
link-workspace-packages=false
