*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
.DS_Store
.Python
.cache/
.coverage
.eggs/
.genkit
.idea/
.installed.cfg
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv
ENV/
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
site/
var/
venv/
wheels/
