<h3>Tool streaming</h3>

<button mat-button (click)="callFlow()">Call the flow</button>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div *ngIf="output.length > 0">
  <div *ngFor="let out of output" class="step">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{out.label}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre *ngIf="out.text">{{out.text}}</pre>
        <div *ngIf="out.llmChunk && out.llmChunk.content[0].toolRequest">
          Tool call requested: <pre>{{out.llmChunk.content[0].toolRequest.name}}</pre>
        </div>
        <div *ngIf="out.toolRequest && !out.toolResponse">
          Calling tool {{out.toolRequest.name}}...
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf="out.toolRequest && out.toolResponse">
          <pre>{{out.toolResponse | json}}</pre>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
